
.error {
    background: #343434;
    height: 110vh;
}
.page_wrap {
    min-height: 93.6vh;
}
@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}