body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-image: url('https://media.discordapp.net/attachments/847873039369633792/1091661033589985340/image.png?width=909&height=676');
    background-size: cover;
    color: white;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .sidebar {
    display: block;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .brand-name{
    display: block;
    color: white;
    padding: 16px;
  }

  .brand-name b {
    color: blue;
  }

  .brand-name b:nth-child(1) {
    color: red;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #555;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    height: 100vh;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

    .wrapper {
      display: flex;
      flex-direction: column;
    }

    .navbar h1 {
      display: flex;
      font-size: 18px;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  } /* sidebar end */

  /* navbar start */

  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 60px;
    background-color: blue;
    width: 100vw;
    overflow-y: hidden;
    vertical-align: text-top;
  }

  .navbar h1 {
    padding-left: 160px;
    margin-top: 10px;
  }
/* navbar end */

  .profile-picture {
    display: flex;
    justify-content: center;
  }

  .profile-picture img {
    position: absolute;
    top: 10%;
    border-radius: 50%;
    height: 150px;
  }

  .form-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 30%;
    flex-direction: column;
    padding-left: 0;
  }
  
  .form-inline label {
    margin: 5px 10px 5px 0;
    font-weight: 700;
  }

  .form-inline input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  .form-inline button {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
  }
  
  .form-inline button:hover {
    background-color: royalblue;
  }
  
  @media (max-width: 800px) {
    .form-inline input {
      margin: 10px 0;
    }
  
    .form-inline {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .button {
    background-color: red !important;
    border-color: red !important;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  } /* form end */

  .table-responsive {
    position: absolute;
    left: 49%;
    bottom: -40px;
    border-collapse: collapse;
    width: 250px;
    background-color: white !important;
    color: red;
    overflow-x: visible
  }

  .table-responsive th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2 !important;
  }
  