.navigation{
  background-color: #005bdf;
}

.navigation img{
  width: 200px;
}

.navigation-items{
  font-size: 1.25rem;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
  .navigation-items{
      text-align: center;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}